# Secrets and Config
.secrets
config/config.env

# Memo Junk
.agent_memo.md
.improvements/
#.tone_of_voice.md

# Build Artifacts
/nido
/registry-builder
/registry-validator
/dist/
bin/nido
bin/nido-validator
nido-bin

# System Junk
.DS_Store
*.log
docs/test_log.md
.actions/
nohup.out

# gui
/gui

# logs
/logs

# vscode
.vscode

# .agent spec and all codespec.md - codetree.md - codemodel.md
#.agent
codespec.md
codetree.md
codemodel.md

wolfi-lab