# Secrets and Config
.secrets
config/config.env

# Memo Junk
.agent_memo.md
.improvements/
#.tone_of_voice.md

# Build Artifacts
/nido
/registry-builder
/registry-validator
/dist/
bin/nido

# System Junk
.DS_Store
*.log
docs/test_log.md
.actions/
nohup.out

# gui
/gui

# logs
/logs

# vscode
.vscode